@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap')

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  @apply font-cabin;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

/* INPUTS */

.input {
  @apply p-3 rounded-xl bg-primaryShade2 border border-solid border-primaryTint2 outline-none text-white text-base focus:border-secondaryColor
}

.input:placeholder {
  @apply text-white/50
}

.label {
  @apply text-sm text-text
}

.link {
  @apply text-secondaryColor font-bold underline
}

/* BUTTONS */

.button {
  @apply rounded-xl py-3 px-5 text-center transition text-base uppercase font-bold cursor-pointer border-none
}

.button.primary {
  @apply bg-secondaryColor text-white;
}

.button.primary:hover {
  @apply bg-white text-secondaryColor
}